body {
    height: 100vh;
    width: 100vw;
    font-size: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 2vmin;
}


.game-border {
    height: 80%;
    width: 80%;
}

.container {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    margin: 0;
}

.square {
    height: 12%;
    width: 12%;
    background-color: darkgreen;
    border: 1px black solid;
    display: inline;
    position: relative;
}
.p1{

    background-image: url("images/whitechip.png");

    background-size: 70%;
    background-repeat:no-repeat;
}

.p2{


    background-image: url("images/blackchip.jpg");

    background-size: 70%;
    background-repeat:no-repeat;
}

