.p1{

    background-image: url("images/whitechip.png");
    border-radius: 50%;
    background-size: 70%;
    background-repeat:no-repeat;
}

.p2{

    background-image: url("images/blackchip.jpg");
    border-radius: 50%;
    background-size: 70%;
    background-repeat:no-repeat;
}